bin/
obj/
out/

*.user
*.userosscache
*.sln.docstates
*.suo
*.userprefs

appsettings.Development.json
appsettings.Local.json
secrets.json
.env

.vs/
.idea/
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
*.spellcheck.xml

*.log
*.mdmp
*.hdmp

.DS_Store
Thumbs.db